<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-header">Home {{ mensaje }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="cerrarSesion()" class="logout-button"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title-header">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-button color="primary" (click)="mostrarEpisodiosDeOnePiece()" class="action-button">
    Mostrar Episodios
  </ion-button>

  <ion-list *ngIf="mostrarEpisodios">
    <ion-item *ngFor="let episodio of episodios">
      <ion-label>
        <h2>{{ episodio.title }}</h2>
        <p>Episodio: {{ episodio.id }}</p>
        <!-- Agrega más campos según la estructura de tus datos -->
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="getTemporada()" class="action-button">
    Click me
  </ion-button>
  
  <ion-list *ngIf="showContent">
    <ion-item *ngFor="let season of seasonsData">
      {{ season.title }}: {{ season.id }} 
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

</ion-content>
